.slideshow {
    --slide-index: 1;

    display: flex;
    flex-direction: row;

    width: 100%;

    transform: translateX(calc(calc(1 - var(--slide-index, 1)) * 100%));

    transition: transform ease-in-out var(--animation--duration--normal);

    > * {
        flex: 1 0 100%;
    }

    slide-cover {
        [background] {
            background-image: url('~src/app/illustrations/storybook/storybook.component.svg');
        }
    }
	
    slide-chapter-start:nth-of-type(1) {
        [background] {
            background-image: url('~src/assets/images/backgrounds/Background 01.jpg');
        }
    }
	
	slide-chapter-start:nth-of-type(2) {
		[background] {
			background-image: url('~src/assets/images/backgrounds/Background 02.jpg');
		}
	}
	
	slide-chapter-start:nth-of-type(3) {
		[background] {
			background-image: url('~src/assets/images/backgrounds/Background 03.jpg');
		}
	}
	
	slide-chapter-start:nth-of-type(4) {
		[background] {
			background-image: url('~src/assets/images/backgrounds/Background 04.jpg');
		}
	}
	
	slide-chapter-start:nth-of-type(5) {
		[background] {
			background-image: url('~src/assets/images/backgrounds/Background 05.jpg');
		}
	}
	
	slide-chapter-start:nth-of-type(6) {
		[background] {
			background-image: url('~src/assets/images/backgrounds/Background 06.jpg');
		}
	}
	
    //
    //slide-two-column:nth-of-type(1) {
    //    [background] {
    //        background-image: url('~src/app/illustrations/global-social-network1/global-social-network1.component.svg');
    //    }
    //}
    //
    //slide-two-column:nth-of-type(2) {
    //    [background] {
    //        background-image: url('~src/app/illustrations/coin-tree/coin-tree.component.svg');
    //    }
    //}
    //
    //slide-two-column:nth-of-type(3) {
    //    [background] {
    //        background-image: url('~src/app/illustrations/global-social-network2/global-social-network2.component.svg');
    //    }
    //}
    //
    //slide-connected-islands:nth-of-type(1) {
    //    [background] {
    //        background-image: url('~src/app/illustrations/green-arrows/green-arrows.component.svg');
    //    }
    //}
    //
    slide-thanks {
        [background] {
            background-image: url('~src/app/illustrations/thanks/thanks.component.svg');
        }
    }
    //
    //slide-chapter-start:nth-of-type(2) {
    //    [background] {
    //        background-image: url('~src/app/illustrations/network2/network2.component.svg');
    //    }
    //}
    //
    //slide-two-column:nth-of-type(4) {
    //    [background] {
    //        background-image: url('~src/app/illustrations/big-data-in-a-cube/big-data-in-a-cube.component.svg');
    //    }
    //}
    //
    //slide-two-column:nth-of-type(5),
    //slide-two-column:nth-of-type(6),
    //slide-two-column:nth-of-type(7),
    //slide-two-column:nth-of-type(8),
    //slide-two-column:nth-of-type(9) {
    //    [background] {
    //        display: grid;
    //        grid-template-columns: repeat(2, 1fr);
    //        place-items: center;
    //
    //        .icon {
    //            font-size: 48rem;
    //        }
    //    }
    //
    //    &[position='left'] {
    //        [background] {
    //            .icon {
    //                grid-column: 2;
    //            }
    //        }
    //    }
    //}
}

.slide-number-container {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 2rem;

    font-size: 2.4rem;
    font-weight: 500;

    &:not(.reverse) {
        right: 0;
    }

    &.reverse {
        left: 0;
    }

    .slide-number {
        font-size: 1.6em;
        font-weight: 900;
    }

    .separator {
    }

    .slides-count {
    }
}
