<div #slideshow class="slideshow" [style.--slide-index]="slideIndex">
    <slide-cover
        heading="Auto-Generating Documents Using Storybook"
        professor="Dr. Ashrafi"
        [creators]="['Parsa Arvaneh', 'Bijan Eisapour']"
        [footer]="['Kharazmi University', '2021-12-04']"
    >
        <div background></div>
    </slide-cover>

    <slide-table-of-contents [items]="tableOfContents">
        <div background></div>
    </slide-table-of-contents>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-chapter-start
        [index]="0"
        [heading]="tableOfContents[0]"
        verticalPosition="center"
        horizontalPosition="center"
    >
        <div background></div>
    </slide-chapter-start>

    <slide-two-column heading="Introduction" position="right">
        <div background></div>

        <p>
            As UI design has evolved over the years, the scale and speed at which UI screens must be created has also
            increased.
        </p>

        <p>
            Not only are there millions of applications and billions of websites (with more created each year), but each
            of those apps and websites might have hundreds or thousands of pages (or screens).
        </p>

        <p>
            With this drastic expansion comes a dire need for organizations to streamline design work. So, many design
            teams leverage robust design systems to manage designs at scale.
        </p>
    </slide-two-column>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-chapter-start [index]="1" [heading]="tableOfContents[1]" verticalPosition="bottom" horizontalPosition="left">
        <div background></div>
    </slide-chapter-start>

    <slide-two-column heading="Definition" position="right">
        <div background></div>

        <p>
            A Design System is the single source of truth which groups all the elements that will allow the teams to
            design, realize and develop a product.
        </p>

        <p>
            It is a complete set of standards intended to manage design at scale using reusable components and patterns.
        </p>
    </slide-two-column>

    <slide-two-column heading="Why Use a Design System?" position="right">
        <div background></div>

        <p>Design systems, when implemented well, can provide a lot of benefits to a design team:</p>

        <ul>
            <li>Design (and development) work can be created and replicated quickly and at scale.</li>
            <li>It alleviates strain on design resources to focus on larger, more complex problems.</li>
            <li>It creates a unified language within and between cross-functional teams.</li>
            <li>It creates visual consistency across products, channels, and (potentially siloed) departments.</li>
            <li>
                It can serve as an educational tool and reference for junior-level designers and content contributors.
            </li>
        </ul>
    </slide-two-column>

    <slide-two-column heading="Why Not Use a Design System?" position="right">
        <div background></div>

        <p>
            There are some potential hurdles and limitations which may prevent a design team from using a design system:
        </p>

        <ul>
            <li>
                Creating and maintaining a design system is a time-intensive activity which requires a dedicated team.
            </li>
            <li>It takes time to teach others how to use the design system.</li>
            <li>
                There may be a perception that projects are static, one-off creations, which generally don’t require
                reusable components.
            </li>
        </ul>
    </slide-two-column>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-chapter-start
        [index]="2"
        [heading]="tableOfContents[2]"
        verticalPosition="center"
        horizontalPosition="center"
    >
        <div background></div>
    </slide-chapter-start>

    <slide-two-column heading="Live Code Playground" position="right">
        <div background></div>

        <ul>
            <li>How to implement it in my project?</li>
            <li>What are the results when something has been changed?</li>
            <li>Anyone can use it without being forced to install/learn anything.</li>
        </ul>
    </slide-two-column>

    <slide-two-column heading="Usage Examples" position="right">
        <div background></div>

        <ul>
            <li>How to use it?</li>
            <li>When to use it?</li>
            <li>What are the different variants?</li>
            <li>It should be crystal clear.</li>
        </ul>
    </slide-two-column>

    <slide-two-column heading="Platform Guidelines" position="right">
        <div background></div>

        <ul>
            <li>What are the UI paradigms?</li>
            <li>What are the primary/secondary colors?</li>
            <li>What settings screens look like?</li>
            <li>What are the micro-interactions?</li>
            <li>UX Guidelines</li>
        </ul>
    </slide-two-column>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-chapter-start
        [index]="3"
        [heading]="tableOfContents[3]"
        verticalPosition="center"
        horizontalPosition="center"
    >
        <div background></div>
    </slide-chapter-start>

    <slide-iframe heading="Google's Material" url="https://material.io/components/date-pickers" position="left">
        <div background></div>
    </slide-iframe>

    <slide-iframe
        heading="Microsoft's Fluent UI"
        url="https://developer.microsoft.com/en-us/fluentui#/controls/web/spinbutton"
        position="left"
    >
        <div background></div>
    </slide-iframe>

    <slide-iframe
        heading="Salesforce's Lightning"
        url="https://www.lightningdesignsystem.com/components/activity-timeline/"
        position="left"
    >
        <div background></div>
    </slide-iframe>

    <slide-iframe
        heading="IBM's Carbon"
        url="https://angular.carbondesignsystem.com/?path=/story/components-notification--basic"
        position="left"
    >
        <div background></div>
    </slide-iframe>

    <slide-iframe
        heading="Palantir's Blueprint"
        url="https://blueprintjs.com/docs/#core/components/button"
        position="left"
    >
        <div background></div>
    </slide-iframe>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-chapter-start [index]="4" [heading]="tableOfContents[4]" verticalPosition="top" horizontalPosition="left">
        <div background></div>
    </slide-chapter-start>

    <slide-two-column heading="Atomic Design" position="right">
        <div background></div>

        <p>Atomic design is methodology for creating design systems.</p>

        <p>There are five distinct levels in atomic design:</p>

        <ul>
            <li>Atoms</li>
            <li>Molecules</li>
            <li>Organisms</li>
            <li>Templates</li>
            <li>Pages</li>
        </ul>
    </slide-two-column>

    <slide-iframe
        heading="Atomic Design's Levels"
        url="https://bradfrost.com/blog/post/atomic-web-design/"
        position="left"
    >
        <div background></div>
    </slide-iframe>

    <slide-two-column heading="Why Atomic Design?" position="right">
        <div background></div>

        <p>
            In a lot of ways, this is how we’ve been doing things all along, even if we haven’t been consciously
            thinking about it in this specific way.
        </p>

        <p>
            Atomic design provides a clear methodology for crafting design systems. Clients and team members are able to
            better appreciate the concept of design systems by actually seeing the steps laid out in front of them.
        </p>

        <p>
            Atomic design gives us the ability to traverse from abstract to concrete. Because of this, we can create
            systems that promote consistency and scalability while simultaneously showing things in their final context.
            And by assembling rather than deconstructing, we’re crafting a system right out of the gate instead of
            cherry picking patterns after the fact.
        </p>
    </slide-two-column>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-chapter-start [index]="5" [heading]="tableOfContents[5]" verticalPosition="top" horizontalPosition="left">
        <div background></div>
    </slide-chapter-start>

    <slide-two-column heading="Required Things" position="right">
        <div background></div>

        <ul>
            <li>Start by breaking things down.</li>
            <li>Remember that everything is a component.</li>
            <li>Smaller pieces compose into larger components.</li>
            <li>Larger components compose into layouts.</li>
            <li>Layouts compose into pages.</li>
        </ul>
    </slide-two-column>

    <slide-two-column heading="Tips" position="right">
        <div background></div>

        <ul>
            <li>Be vigilant with your component APIs.</li>
            <li>Don't add things before there are specific use cases for them.</li>
            <li>Name things well and agree on standard before hand.</li>
            <li>When in doubt on future use cases, provide custom component renderers.</li>
            <li>Setup linting first.</li>
            <li>Test for server side render-ability early and often.</li>
            <li>Add linting for a11y accessibility</li>
        </ul>
    </slide-two-column>

    <slide-two-column heading="Benefits" position="right">
        <div background></div>

        <ul>
            <li>With this setup you can achieve a faster development velocity.</li>
            <li>Individuals can work on isolated parts of the system without fear of breaking other things.</li>
            <li>You wil have a multi-platform UI library.</li>
            <li>You can render static or server side apps for better UX and index-ability.</li>
            <li>Choosing the static path gives you out of the box raw scale power with less devops complexity.</li>
        </ul>
    </slide-two-column>

    <!-- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -->
    <slide-thanks>
        <div background></div>
    </slide-thanks>
</div>

<div class="slide-number-container">
    <div class="slide-number">{{ slideIndex }}</div>
    <div class="separator">of</div>
    <div class="slides-count">{{ slidesCount }}</div>
</div>
