.slide {
    display: flex;

    padding-inline: var(--full-width-padding-inline);

    .content {
        flex: 1;

        display: flex;
        flex-direction: column;

        &.horizontal {
            &-left {
                grid-column: 1;
            }

            &-center {
                grid-column: 1 / -1;
                text-align: center;
            }

            &-right {
                grid-column: 2;
            }
        }

        &:not(.horizontal-center) {
            header {
                h1 {
                    text-align: left;
                }
            }
        }

        main {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            height: 0;

            padding-block-start: 0;
            padding-block-end: 8rem;

            a {
                flex: 1;

                display: flex;
                justify-content: center;

                height: 0;

                &:hover {
                    box-shadow: var(--box-shadow-subtle);
                }

                img {
                    display: block;

                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
