.slide {
    display: grid;
    place-items: stretch;

    padding-inline: var(--full-width-padding-inline);

    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: 4rem;

        main {
	        padding: 0;
	        
            ol {
                flex: 1;

                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	            row-gap: 4rem;
                column-gap: 8rem;

                li {
                    flex: 1 0 auto;

                    display: flex;
	                flex-direction: column;

                    min-width: 30rem;

                    padding-block: 4rem;

                    font-size: 2.4rem;

                    .index {
                        color: var(--color--watermark);

                        font-size: 2em;
                        font-weight: 900;
	                    line-height: 1;
                    }

                    .item {
                        font-size: 1.2em;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
