// VARIABLES
:root {
    --primary-hue: 220;
    --secondary-hue: 260;
    --success-hue: 120;
    --warning-hue: 20;
    --danger-hue: 0;

    --color--storybook-pink: hsl(340, 100%, 64%);
    --color--storybook-dark: hsl(0, 0%, 20%);

    --color--primary: hsl(var(--primary-hue), 100%, 60%);
    --color--primary-fade: hsl(var(--primary-hue), 100%, 94%);
    --color--primary-opposite: hsl(0, 0%, 98%);

    --color--secondary: hsl(var(--secondary-hue), 50%, 50%);
    --color--secondary-fade: hsl(var(--secondary-hue), 100%, 90%);
    --color--secondary-opposite: hsl(0, 0%, 98%);

    --color--warning: hsl(var(--warning-hue), 100%, 40%);
    --color--warning-fade: hsl(var(--warning-hue), 100%, 90%);
    --color--warning-opposite: hsl(0, 0%, 98%);

    --color--success: hsl(var(--success-hue), 100%, 40%);
    --color--success-fade: hsl(var(--success-hue), 100%, 92%);
    --color--success-opposite: hsl(0, 0%, 98%);

    --color--danger: hsl(var(--danger-hue), 100%, 30%);
    --color--danger-fade: hsl(var(--danger-hue), 100%, 90%);
    --color--danger-opposite: hsl(0, 0%, 98%);

    //--color--watermark: hsl(0, 0%, 80%);
    --color--watermark: hsl(354, 77%, 63%);

    --color--body-background: hsl(0, 0%, 98%);
    --color--body-foreground: var(--color--storybook-dark);

    --color--overlay-background: hsla(0, 0%, 0%, 0.94);
    --color--overlay-foreground: hsl(0, 0%, 98%);

    --color--footer-background: hsl(var(--primary-hue), 18%, 16%);
    --color--footer-foreground: hsl(0, 0%, 98%);

    --color--button-disabled-background: hsl(0, 0%, 70%);
    --color--button-disabled-foreground: hsl(0, 0%, 10%);

    --color--table-border: hsl(var(--primary-hue), 40%, 80%);
    --color--table-header-background: var(--color--table-border);
    --color--table-header-foreground: inherit;
    --color--table-body-background--hover: hsl(var(--primary-hue), 40%, 90%);
    --color--table-body-foreground--hover: inherit;

    --color--command-palette-enqueue-button-background: var(--color--primary);
    --color--command-palette-enqueue-button-foreground: var(--color--primary-opposite);
    --color--command-palette-dequeue-button-background: var(--color--warning);
    --color--command-palette-dequeue-button-foreground: var(--color--warning-opposite);
    --color--command-palette-reset-button-background: var(--color--danger);
    --color--command-palette-reset-button-foreground: var(--color--danger-opposite);

    --color--popper-background: hsl(0, 0%, 20%);
    --color--popper-foreground: hsl(0, 0%, 98%);

    --full-width: 160rem;
    --full-width-padding-inline: calc(max(100% - var(--full-width), 4rem) / 2);

    --animation--duration--fast: 0.1s;
    --animation--duration--normal: 0.5s;
    --animation--duration--slow: 1s;
}

// RESET
*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;

    text-decoration: none;
}

button {
    padding: 0.75rem 1.5rem;

    border: none;
    border-radius: 999rem;

    &:not([disabled]) {
        cursor: pointer;

        &:hover {
            filter: brightness(90%);
        }
    }

    &[disabled] {
        background-color: var(--color--button-disabled-background) !important;
        color: var(--color--button-disabled-foreground) !important;
    }
}

svg {
    display: block;

    width: 1em !important;
    height: 1em !important;
}

// MAIN
body {
    background-color: var(--color--body-background);
    color: var(--color--body-foreground);

    overflow-x: hidden;

    width: 100%;

    font-size: 2rem;
}

p {
    font-size: 2.4rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: 700;
}

// SLIDES
.slide {
    position: relative;

    height: 100vh;

    > .background-container {
        position: absolute;
        inset: 0;
        z-index: -1;

        display: grid;
        place-items: stretch;

        width: 100%;
        height: 100%;

        [background] {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .content {
        header {
            padding-block: 3rem;

            h1 {
                text-align: center;
            }
        }

        main {
            padding-block: 8rem;
        }
    }
}
